.form {
  &.--modalCart {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 0;
  }
  &.--simpleOrder {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 0;
  }
}
