.table {
  &.--modalCart-grid {
    & .tbody {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    & .row {
      &.--card {
        border-bottom: 1px solid rgba(221, 221, 221, 0.2);
        transition: all var(--timing-function__main);
        &:hover {
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        }
      }
      &.cardInfo-grid {
        display: grid;
        grid-template-columns: 60px 2fr 1fr;
        align-items: center;

        background-color: rgba(221, 221, 221, 0.2);

        & .--cardImg {
          // height: 60px;
          width: 60px;
          // overflow: hidden;
          // object-fit:contain;
        }
        & .--cardInfo {
          display: grid;
          grid-template-columns: 1fr 2fr;

          align-items: center;
        }

        & .--cardTotal {
          display: grid;
          grid-template-columns: 1fr 2fr;

          align-items: center;
        }
      }
      &.item-top {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        font-size: 10px;
        font-weight: 400;
      }
      &-grid {
        &.titles {
          display: grid;
          grid-template-columns: 2fr 2fr 2fr 1fr;
        }
        &.item-info {
          display: grid;
          grid-template-columns: 2fr 2fr 80px 1fr;
          min-height: 35px;
          align-items: center;
        }
      }
      & .card-items {
        border: 1px solid rgba(221, 221, 221, 0.5);
      }
    }
    & .col {
      display: flex;
      flex-direction: column;
      gap: 4px;

      font-size: 12px;

      padding: 4px;

      &.--setQuantity {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
      }
      &.element-sku {
      }
      &-title {
        font-size: 10px;
      }
      &-text {
        font-size: 12px;
        text-align: right;
      }
    }
    .input {
      width: 100%;

      text-align: center;

      border-style: none;
      border-bottom: 2px solid rgba(221, 221, 221, 0.4);

      transition: all var(--timing-function__main);
      &:focus {
        outline-style: none;
        border-bottom: 2px solid var(--brand_clr__1--accent);
      }

      &.--selectAtribute {
      }
      &.--inputQuantity {
      }
    }
  }
}
.cart {
  &.items-list {
    width: 100%;
  }
  &.item {
    display: grid;
    grid-template-columns: 1fr 2fr;

    transition: all var(--timing-function__main);
    &:hover {
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }
  }
  &.item__left-side {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4px;
    background-color: rgba(221, 221, 221, 0.4);
    & .side {
      &-img {
        // padding: 8px;
      }
      &-info__top {
        display: grid;
        grid-template-columns: 1fr 2fr;

        padding: 2px;
      }
      &-info__bottom {
        display: grid;
        grid-template-columns: 1fr 2fr;

        padding: 2px;
      }
    }
    & .row {
      &.title {
        padding: 2px;
        font-size: 11px;
      }
      &.text {
        padding: 2px;
        text-align: right;
      }
    }
  }
  &.item__right-side {
    display: flex;
    flex-direction: column;
    gap: 8px;
    // grid-area: ;
    & .item-component {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      &_top {
        display: grid;
        grid-template-columns: 1fr 2.7fr;
        gap: 2px;

        padding: 4px 8px;

        // border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        & .row {
          &.title {
            font-size: 11px;
          }
          &.text {
            text-align: left;
          }
        }
      }
      &_bottom {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2px;
        padding: 4px 8px;
      }
    }
    & .row {
      &.title {
        font-size: 11px;
      }
      &.text {
        text-align: right;
        &.--setQuantity {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  & .input {
    width: 100%;

    text-align: center;

    border-style: none;
    border-bottom: 2px solid rgba(221, 221, 221, 0.4);

    transition: all var(--timing-function__main);
    &:focus {
      outline-style: none;
      border-bottom: 2px solid var(--brand_clr__1--accent);
    }

    &.--selectAtribute {
    }
    &.--inputQuantity {
    }
  }
}
