<header class="header --position --flex">
  <!-- TODO Логотип -->
  <div class="logo box">
    <a class="logo_link" href="">
      <img class="logo-img" src="./images/logo-social.png" alt="" width="64px">
    </a>
  </div>
  <button class="button --showMyCart" type="button">
    <svg class="btn-svg">
      <use href="./images/sprite_market.svg#icon-shopping-cart"></use>
    </svg>
  </button>
  <!-- TODO Меню -->
  <div class="menu__box">
    <button class="button --for_menu" type="button">МЕНЮ</button>
    <ul class="nav__list">
      <li>
        <a class="nav__link" href="./" rel="noopener noreferrer">
          Головна (js)
        </a>
      </li>
      <li>
        <ul class="js-modal-menu">
          <li>
            <a class="nav__link js-modal-open-1" href="" rel="noopener noreferrer">
              Модалка 1
            </a>
          </li>
          <li>
            <a class="nav__link js-modal-open-2" href="" rel="noopener noreferrer">
              Модалка 2
            </a>
          </li>
        </ul>
      </li>
      <!-- <li>
        <a
          class="nav__link"
          href="./post_cards_2.html"
          rel="noopener noreferrer"
        >
          postcards 2 (js)
        </a>
      </li> -->
      <!-- <li>
        <a
          class="nav__link"
          href="https://sabationok.github.io/crm_test_liveserver_2/mngr_products.html"
          rel="noopener noreferrer"
        >
          crm__test__liveserver
        </a>
      </li> -->
      <!-- <li>
        <a
          class="nav__link"
          href="https://sabationok.github.io/referal__test__liveserver/"
          rel="noopener noreferrer"
        >
          referal__test__liveserver
        </a>
      </li> -->
      <li>
        <a class="nav__link" href="./" rel="noopener noreferrer"> Вихід </a>
      </li>
    </ul>
  </div>
</header>
