<div class='table --modalCart-grid'>
  <div class='tbody --tbody-grid'>
    {{!-- {{#each this}} --}}
    <div class='row --card' data-card-id=''>
      <div class='row cardInfo-grid'>
        <div class='col --cardImg' data-title='img'><img
            src='https://raw.githubusercontent.com/goodcat46/images/main/brand_cards/looks/look_1__2x.webp'
            alt=''
          /></div>
        <div class='col --cardinfo' data-title='name'>
          <div class='col --sku' data-title='sku'>art25252525
          </div>
          <div class='col --autorId' data-title='autorId'>lookMaker-217
          </div>
          <div class='col --name' data-title='name'>Комплект 0245
          </div>

        </div>
        <div class='col --cardTotal' data-title='total'>
          <span class='col-title'>Ціна:</span>
          <span class='col-text'>6000</span>
          <span class='col-title'>Знижка:</span>
          <span class='col-text'>500</span>
          <span class='col-title'>Сума:</span>
          <span class='col-text'>5500</span>
        </div>
      </div>
      <div class='row-grid titles'>
        <span class='col'>Атрибут 1:</span>
        <span class='col'>Атрибут 2:</span>
        <span class='col'>Кількість:</span>
        <span class='col'>Ціна:</span>
      </div>
      <div class='row card-items'>
        <div class='row card-item'>
          <span class='row item-top'>
            <span>Елемент № 1,</span>
            <span class='element-sku'>art356984,</span>
            <span class='element-name'>"Назва елементу"</span>
          </span>
          <div class='row-grid item-info'>

            <div class='col' data-title='atribute-1'>
              <input class='input --selectAtribute' type='text' value='XL' />
            </div>

            <div class='col' data-title='atribute-2'>
              <input
                class='input --selectAtribute'
                type='text'
                value='Зелений'
              />
            </div>

            <div class='col --setQuantity' data-title='quantity'>
              <button class='button --btnTableMinus'>-</button>
              <input
                class='input --inputQuantity'
                type='text'
                name='quantity'
                value='1'
              />
              <button class='button --btnTablePlus'>+</button>
            </div>

            <div class='col' data-title='price'>
              <span class='col-text'>3000</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='row --card' data-card-id=''>
      <div class='row cardInfo-grid'>
        <div class='col --cardImg' data-title='img'>
          <img
            src='https://raw.githubusercontent.com/goodcat46/images/main/gamanets/AW22-PFD08E_88X_F1.webp'
            alt=''
          />
        </div>
        <div class='col --cardinfo' data-title='name'>
          <div class='col --sku' data-title='sku'>art25252525

          </div>
          <div class='col --autorId' data-title='autorId'>brand-548
          </div>
          <div class='col --name' data-title='name'>Назва товару

          </div>
        </div>
        <div class='col --cardTotal' data-title='total'>
          <span class='col-title'>Ціна:</span>
          <span class='col-text'>6000</span>
          <span class='col-title'>Знижка:</span>
          <span class='col-text'>500</span>
          <span class='col-title'>Сума:</span>
          <span class='col-text'>5500</span>
        </div>
      </div>
      <div class='row-grid titles'>
        <span class='col'>Атрибут 1:</span>
        <span class='col'>Атрибут 2:</span>
        <span class='col'>Кількість:</span>
        <span class='col'>Ціна:</span>
      </div>
      <div class='row card-items'>
        <div class='row card-item'>
          <span class='row item-top'>
            <span>Елемент № 1,</span>
            <span class='element-sku'>art356984,</span>
            <span class='element-name'>"Назва елементу"</span>
          </span>
          <div class='row-grid item-info'>

            <div class='col' data-title='atribute-1'>
              <input class='input --selectAtribute' type='text' value='XL' />
            </div>

            <div class='col' data-title='atribute-2'>
              <input
                class='input --selectAtribute'
                type='text'
                value='Зелений'
              />
            </div>

            <div class='col --setQuantity' data-title='quantity'>
              <button class='button --btnTableMinus'>-</button>
              <input
                class='input --inputQuantity'
                type='text'
                name='quantity'
                value='1'
              />
              <button class='button --btnTablePlus'>+</button>
            </div>

            <div class='col' data-title='price'>
              <span class='col-text'>3000</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- {{/each}} --}}
  </div>
</div>