<div class='backdrop is-hidden' data-action='openModal'>
  <div class='modal flex'>
    <div class='modal-top'>
      <span class='modal-name js-modal-name'></span>
      <button
        class='button --close-modal' type='button' data-action='closeModal'>
        <svg class='btn-svg'>
          <use href='../images/sprite_market.svg#icon-cross'></use>
        </svg>
      </button>
    </div>
    <div class='modal-overflow js-modal-overflow'>
      <div class='modal-content js-modal-content'></div>
    </div>
  </div>
</div>