<div class='backdrop is-hidden' data-modal2>
  <div class='modal flex'>
    <div class='modal-top'>
      <span class='modal-name js-modal2-name'></span>
      <button class='button --close-modal' type='button' data-modal2-close>
        <svg class='btn-svg'>
          <use href='{{sprite_market}}#icon-cross'></use>
        </svg>
      </button>
    </div>
    <div class='modal-overflow js-modal2-overflow'>
      <div class='modal-content js-modal2-content'></div>
    </div>
  </div>
</div>